body {
  font-family: "Lato", sans-serif;
  margin: auto 0px;
}
.header {
  display: flex;
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header__item {
  display: flex;
  list-style-type: none;
  padding: 0; /* Optional: Removes default padding */
  margin: 0; /* Optional: Removes default margin */
  text-align: center;
}

.header__item a {
  text-decoration: none;
}
.color-white {
  color: white;
  display: inline-block;
  height: 44px;
  line-height: 44px;
}
.background-color-white:hover {
  background-color: rgb(161, 158, 158);
}
.header__item-select ul {
  list-style-type: none;
  padding: 0; /* Optional: Removes default padding */
  margin: 0; /* Optional: Removes default margin */
  display: none;
}
.header__item-select:hover {
  ul {
    display: block;
  }
}
li {
  display: inline-block;
  height: 44px;
  padding: 0 24px;
}
.header__item-select {
  position: relative;
}
.sub-menu {
  position: absolute;
  top: 44px;
  left: 0;
  background-color: black;
}
.d-block {
  display: block;
  line-height: 44px;
  text-align: left;
}
.button-search {
  height: 44px;
  padding: 0 24px;
  background-color: black;
  border: none;
  color: white;
}
.button-search:hover {
  background-color: #f44336;
}
/* phan the anh band */
.slide1 {
  background-image: url(https://www.w3schools.com/w3images/la.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Optional: ensures the image covers the element */
  background-position: center; /* Optional: centers the image */
  color: #fff;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
/* phan the band */
.container {
  width: 768px;
  margin: 0 auto;
}
.theband-text {
  text-align: justify;
}
.TheBand {
  text-align: center;
  color: #000000;
}
.img-name {
  border-radius: 4px;
  width: 153.58px;
  height: 153.58px;
  margin: 0 0 16px;
}
.Name {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
/* phan the tour */
.TOUR {
  background-color: #000;
  padding: 60px 0;
}
.container-tour {
  width: 768px;
  margin: 0px auto;
}
.text-head {
  text-align: center;
  color: #fff;
}
.text-p {
  text-align: center;
  color: #fff;
  opacity: 0.6;
  padding: 10px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  color: #757575;
  background-color: #fff !important;
}
tr,
td {
  border: 1px solid #ccc;
  padding: 8px 16px;
  text-align: left;
}
.ticket-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ticket--tag {
  display: inline-block;
  height: 24px;
  background-color: #f44336;
  padding: 0 8px;
  margin-left: 16px;
  color: #fff;
  line-height: 24px;
}
.ticket--tag--con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 16px;
  color: #ffffff;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  box-sizing: border-box;
  width: 100%;
}
.card {
  background-color: #fff;
}
.card card3 {
  margin-right: 0px;
}
.card__text {
  width: 245px;
  height: 204px;
}
.card__text {
  width: 215px;
  margin: auto;
}
.size-text {
  font-size: 15px;
  line-height: 1.5;
}
.button-text {
  color: #fff !important;
  background-color: #000 !important;
  padding: 8px 16px;
}
.date {
  opacity: 0.6;
  color: #000 !important;
}

/* phan contact */
.CONTACT {
  width: 768px;
  margin: 0px auto;
}
.contact-text {
  text-align: center;
}
.contact-container {
  display: flex;
  justify-content: space-between;
}
.contact-address {
  font-size: 18px;
  width: 50%;
  color: #000;
}
.icon-color {
  color: #000;
}
.contact-item {
  padding: 5px 0px 0px;
}
.contact-item a i {
  width: 30px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
  gap: 8px;
}
.form-item1 {
  flex: 1;
  margin-right: 8px;
}
.form-item2 {
  flex: 1;
}
.form-item3 {
  width: 100%;
}
.form-input {
  height: 40.5px;
  padding-left: 8px;
  border: 1px solid #ccc !important;
}
.btn-submit {
  padding: 8px 16px;
  margin: 8px 0px;
  color: #fff !important;
  background-color: #000;
  border: none;
}
.btn-submit:hover {
  color: #000 !important;
  background-color: #ccc !important;
  border: none;
}
.text-color {
  color: #000000;
  opacity: 0.6;
}
.img-background {
  width: 100%;
  margin-top: 65px;
}
.footer-link {
  text-align: center;
  margin-top: 65px;
}
.color-icon-text:hover {
  opacity: 0.6;
}
.color-icon-text {
  color: #666;
}
.color-icon-text-a {
  color: #666;
}
.icon {
  font-size: 24px; /* Controls the size of the icon */
  width: 50px; /* Sets the width of the icon container */
  height: 50px;
  display: inline-flex; /* Allows alignment and size control */
  gap: 4px;
  align-items: center; /* Centers the icon vertically */
  justify-content: center; /* Centers the icon horizontally */
  border-radius: 50%; /* Optional: Makes the border circular */
}
